In [ ]:
# DOCUMENT LINK
# https://free-apis.github.io/#/browse
# https://dog.ceo/dog-api/documentation/breed
# https://alexwohlbruck.github.io/cat-facts/

In [1]:
import os
import requests
import pandas as pd 
# import duckdb
import numpy as np

In [2]:
empty_list = []
# img = f'https://dog.ceo/api/breed/hound/{dog}/images'
for i in range(10):
    r1 = requests.get('https://dog.ceo/api/breeds/image/random/50').json()['message']
    for r in r1:
        empty_list.append(r)

new_list = set(empty_list)
converted_list = list(new_list)

In [3]:
dog_dict = {}
emp_list = []
for c in converted_list:

    dog_name = c.split('/')[4]
    dog_dict[dog_name] = c

In [4]:
df = pd.DataFrame(converted_list)
df.columns = ['images']
df['dogs_name']  = df['images'].apply(lambda x : x.split('/')[4])

In [5]:
df.head()

                                              images           dogs_name
0  https://images.dog.ceo/breeds/setter-irish/n02...        setter-irish
1  https://images.dog.ceo/breeds/schipperke/n0210...          schipperke
2  https://images.dog.ceo/breeds/havanese/00100tr...            havanese
3  https://images.dog.ceo/breeds/collie-border/n0...       collie-border
4  https://images.dog.ceo/breeds/pinscher-miniatu...  pinscher-miniature

In [7]:
df['images'][0]

'https://images.dog.ceo/breeds/setter-irish/n02100877_6453.jpg'

In [35]:
new_dict = {}

for k,v in dog_dict.items():
    n = {k:v}
    new_dict.update(n)

In [41]:
len(empty_list)

500